.wrapper {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-label {
    background-color: #124e6f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.menu-content a:hover {
    background-color: rgb(105, 141, 172);
    cursor: pointer;
}

.menu:hover .menu-content {
    display: block;
}

.menu:hover .menu-label {
    background-color: rgb(53, 41, 67);
}
