html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

td {
    text-align: center;
    padding: 8px;
    width: 50%;
}

.first-cell {
    background-color: skyblue;
}

.second-cell {
    background-color: Tomato;
}
